{% include "header.html" %}



<!-- Banner -->
<div id="banner-wrapper">
	<div id="banner" class="box container" style="background-image:url('static/images/cropplot2.png') ;">
		<div class="row">
			<div class="col-7 col-12-medium">
				<h2>Dashboard</h2>
				<p>Interactive</p>
			</div>
			<div class="col-5 col-12-medium">
				<ul>
					<li><a href="{{url_for('render_dashboard')}}"
							class="button large icon solid fa-arrow-circle-right">Energy Consumption Prediction</a>
					</li>
					<!-- <li><a href="{{url_for('render_dashboard2')}}"
							class="button alt large icon solid fa-question-circle">Energy Price Prediction(FT value)</a>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Features -->
<div id="features-wrapper">
	<div class="container">
		<div class="row">

			<div class="col-4 col-12-medium">

				<!-- Box -->
				<section class="box feature">
					<a href="{{url_for('conseda')}}" class="image featured"><img
							src="{{url_for('static',filename = 'images/baiyokenight.jpeg')}}" alt="" /></a>
					<div class="inner">
						<header>
							<h2>Electricity consumption : EDA</h2>
							<p></p>
						</header>
						<!-- <p>Future work</p> -->
					</div>
				</section>

			</div>

			<div class="col-4 col-12-medium">

				<!-- Box -->
				<section class="box feature">
					<a href="{{url_for('conspred')}}" class="image featured"><img
							src="{{url_for('static',filename = 'images/alerticon.png')}}" alt="" /></a>
					<div class="inner">
						<header>
							<h2>Electricity consumption : Prediction</h2>
							<p></p>
						</header>
						<!-- <p>Future work</p> -->
					</div>
				</section>

			</div>
			<div class="col-4 col-12-medium">

				<!-- Box -->
				<section class="box feature">
					<a href="{{url_for('pricepred')}}" class="image featured"><img
							src="{{url_for('static',filename = 'images/exampleinvoice.png')}}" alt="" /></a>
					<div class="inner">
						<header>
							<h2>Electricity Price Prediction & Calculation</h2>
							<p>FT values predicting and price calculation</p>
						</header>
						<p><b>DEMO</b></p>
					</div>
				</section>

			</div>
		</div>
	</div>
</div>

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row gtr-200">
			<div class="col-4 col-12-medium">

				<!-- Sidebar -->
				<div id="sidebar">
					<section class="widget thumbnails">
						<!-- <h3>Interesting stuff</h3> -->
						<div class="grid">
							<div class="row gtr-50">
								<div class="col-6"><a href="#" class="image fit">
										<img src="{{url_for('static',filename = 'images/c1.png')}}" alt="" /></a>
								</div>
								<div class="col-6"><a href="#" class="image fit"><img
											src="{{url_for('static',filename = 'images/c2.png')}}" alt="" /></a>
								</div>
								<div class="col-6"><a href="#" class="image fit"><img
											src="{{url_for('static',filename = 'images/c3.png')}}" alt="" /></a>
								</div>
								<div class="col-6"><a href="#" class="image fit"><img
											src="{{url_for('static',filename = 'images/c0.png')}}" alt="" /></a>
								</div>
							</div>
						</div>
						<!-- <a href="#" class="button icon fa-file-alt">More</a> -->
					</section>
				</div>

			</div>
			<div class="col-8 col-12-medium imp-medium">

				<!-- Content -->
				<div id="content">
					<section class="last">
						<h2>Members</h2>
						<p>Myo Myint Maung -> Email: st123354@ait.asia<br>
							Tonson Praphabkul -> Email: st123354@ait.asia<br>
							Todsavad Tangtortan -> Email: st123012@ait.asia<br>
							Ati Tesakulsiri -> Email: st123009@ait.asia</p>
						<!-- <a href="#" class="button icon solid fa-arrow-circle-right">Continue Reading</a> -->
					</section>
				</div>

			</div>
		</div>
	</div>
</div>
{% include "footer.html" %}