{% include "header.html" %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row gtr-200">
			<div class="col-4 col-12-medium">
				<div id="sidebar">

					<!-- Sidebar -->
					<section>
						<h3>Dataset</h3>
						<p>The dataset, which has been collected from EPPO, BOT, EGAT, MEA, PEA, and TMD, 
							is intended for use in a research study and is not to be used for commercial purposes. 
							Access to the dataset is available for free downloading.</p>
						<footer>
							<a href="https://github.com/TonsonP/Joules_of_Siam" class="button icon solid fa-info-circle">Download Dataset</a>
						</footer>
					</section>

					<section>
						<h3>References</h3>
						<ul class="style2">
							<li><a href="https://www.eppo.go.th/index.php/en/en-energystatistics/electricity-statistic">EPPO : Energy Policy and Planning Office</a></li>
							<li><a href="https://www.bot.or.th/App/BTWS_STAT/statistics/ReportPage.aspx?reportID=409&language=eng">BOT : Bank of Thailand</a></li>
							<li><a href="https://www.egat.co.th/home/en/statistics-generation-annual/">EGAT : Electricity Generating Authority of Thailand</a></li>
							<li><a href="https://www.mea.or.th/content/detail/2985/2987/474">MEA : Metropolitan Electricity Authority</a></li>
							<li><a href="https://www.pea.co.th/electricity-tariffs">PEA : Provincial Electricity Authority</a></li>
							<li><a href="https://www3.tmd.go.th/en/ClimateChart/annual-mean-rainfall-in-thailand-mm">TMD : Thai Meteorological Department</a></li>
						</ul>
					</section>

				</div>
			</div>
			<div class="col-8 col-12-medium imp-medium">
				<div id="content">

					<!-- Content -->
					<article>

						<h2>Datasets</h2>

						<u><h3><a href="https://github.com/TonsonP/Joules_of_Siam/blob/main/dataS/Joules_of_Siam_Data%20-%20Dataset_Strech.csv">Peak Load Consumption Monthly</a></h3></u>
						<p>The dataset covers a period from 2002 to 2022 with monthly granularity, and consists of four independent variables, namely Population, Temperature, CPI, and GDP. 
							These variables are to be used for predicting the Peak Load Consumption variable.</p>
						
						<u><h3><a href="https://github.com/TonsonP/Joules_of_Siam/blob/main/dataS/Joules_of_Siam_Data%20-%20FT_electricity_cost.csv">FT Electricy Cost Monthly</a></h3></u>
						<p>The dataset covers a period of 31 years, from 1992 to 2022, and has monthly granularity with FT value unit as the main variable. 
							Additionally, the dataset contains a summary of the average FT-value per year in the last column. Given the time-series nature of the data, 
							LSTM architecture could be a suitable choice for modeling and predicting future FT-values based on historical patterns.</p>
						
						<u><h3><a href="https://github.com/TonsonP/Joules_of_Siam/blob/main/dataS/Joules_of_Siam_Data%20-%20Electricity_Consumption_classified_by_sector.csv">Electricity Consumption Monthly by Sector</a></h3></u>
						<p>The dataset covers a time period of 20 years, from 2002 to 2022, with monthly granularity. 
							It provides information on electricity consumption from different sectors, including Residential, Business, Industrial, Government and Non-Profit, and Other sectors. 
							Additionally, the dataset contains the monthly averages of electricity consumption from each sector. 
							The dataset is useful for observing trends in electricity consumption from each sector over time.</p>

						<u><h3><a href="https://github.com/TonsonP/Joules_of_Siam/blob/main/dataS/Joules_of_Siam_Data%20-%20Power_Generation_Classified_By_fuel_type_Monthly.csv">Power Generation Fuel Type Montly</a></h3></u>
						<p>The dataset covers a time period of 20 years, from 2002 to 2022, with monthly granularity. 
							It provides information on power generation from various sources, 
							including Hydro Electricity, Fuel Oil, Coal & Lignite, Natural Gas, Diesel, Imported, and Renewable Energy. 
							The dataset represents both the proportion of power generation from each source and the total power generated each month.</p>

					</article>

				</div>
			</div>
		</div>
	</div>
</div>

{% include "footer.html" %}