{% include "header.html" %}
<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div id="content">

			<!-- Content -->
			<article>

				<h2>Background </h2>
				<p>Electricity demand forecasting is an important task for energy companies and policy makers in Thailand, 
					as it can inform decisions related to capacity planning, resource allocation, and pricing. 
					In recent years Thailand has experienced significant economic and population growth, 
					which has led to an increase in energy consumption.</p>

				<p>Electricity demand forecasting is an important task not just for policy makers and electricity providers 
					but also for businesses and households, as it impacts energy security as well as cost of living or cost of doing business. 
					We see the need to develop a business intelligence system specifically for this task.</p>
				
				<h2>Objective</h2>
				<p>The goal of this project is to develop a Business Intelligence System 
					for forecasting electricity demand in Thailand based on historical datasets 
					and machine learning algorithms.</p>

				<h2>Project Description</h2>
				<p>	To come up with demand forecasting for electricity in Thailand, our project will utilize: </p>
				<p>	&#150; historical time series data of electricity consumption, pricing, and generation capacity in Thailand </p>
				<p> &#150; data that have high correlation with electricity consumption such as GDP, population, etc. </p>
				<p>	&#150; machine learning techniques such as deep neural networks, regression models, etc.</p>


				<h2>Expected output</h2>
				<p>The expected output of our project include: </p>
				<p>	&#150; forecasts of the electricity demand in Thailand for the short, medium and long terms </p>
				<p>	&#150; implications for electricity pricing and generation capacity due to the forecasts </p>
				<p>	&#150; a web application for the end user to upload and download relevant files and data </p>
				<p>	&#150; an interactive BI dashboard showing the present trends and forecasted projections of electricity demand, pricing and generation capacity for Thailand. </p>

			</article>

		</div>
	</div>
</div>

{% include "footer.html" %}