{% include "header.html" %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row gtr-200">
			<div class="col-8 col-12-medium">
				<div id="content">

					<!-- Content -->
					<article>

						<h2>Electricity Consumption : Exploratory Data Analysis</h2>

						<p>Exploratory Data Analysis (EDA) is a crucial stage in comprehending energy use and generation
							across multiple industries and informing educated judgments. We can learn more about the
							variables that affect energy consumption, spot opportunities to increase energy efficiency,
							and make well-informed choices on energy policy, investment, and infrastructure development
							by examining patterns and trends in energy use and production.</p>

						<p>It is impossible to overestimate the significance of energy generation and consumption, which
							is a vital component of environmental sustainability, technological innovation, and economic
							prosperity. A greater emphasis has been placed on renewable energy sources and energy
							efficiency in recent years as environmental concerns over the effects of energy usage have
							grown.</p>


						<p>Understanding the patterns and trends in energy production and consumption across many
							industries, including transportation, commercial, industrial, and residential, is essential
							for addressing these issues. We can gain important insights into the sources and
							effectiveness of energy production and consumption, identify areas where improvements in
							energy efficiency can be made, and make well-informed decisions about energy policy and
							infrastructure planning by conducting an EDA of energy consumption and generation by sector.

							Ensuring a sustainable and successful future for our society will need understanding and
							tackling the difficulties of energy consumption and production, which can only be done by
							performing an EDA of energy generation and consumption by sector.</p>

						<h3>Result of EDA</h3>
						<p>TO ADD</p>

					</article>

				</div>
			</div>
			<div class="col-4 col-12-medium">
				<div id="sidebar">

					<!-- Sidebar -->
					<section>
						<h3>Interactive Dashboard</h3>
						<p>Let interact</p>
						<footer>
							<a href="{{url_for('render_dashboard')}}" class="button icon solid fa-info-circle">Find out
								more</a>
						</footer>
					</section>

					<section>
						<h3>Dataset</h3>
						<p>The dataset that was collected between 2002 and 2022 from EPPO, BOT, EGAT, MEA, PEA, and TMD
							is intended for use in a research study and is not to be used for commercial purposes.
							Access to the dataset is available for free downloading.</p>
						<footer>
							<a href="https://github.com/TonsonP/Joules_of_Siam/tree/main/dataS"
								class="button icon solid fa-info-circle">Download Dataset</a>
						</footer>
					</section>

				</div>
			</div>
		</div>
	</div>
</div>

{% include "footer.html" %}