{% include "header.html" %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row gtr-200">
			<div class="col-8 col-12-medium">
				<div id="content">

					<article>
						{{form.csrf_token}}
						{{form.unit.label}}
						{{form.unit()}}
						{{form.ft.label}}
						{{form.ft()}}
						<br>
						{{form.submit()}}

						{% if name %}
							Predict : {{price}}
						{% else %}
							Not Found
						{% endif %}
					</article>
					
				</div>
			</div>
			<div class="col-4 col-12-medium">
				<div id="sidebar">

					<!-- Sidebar -->
					<section>
						<h3>Interactive Dashboard</h3>
						<p>Let interact</p>
						<footer>
							<a href="{{url_for('render_dashboard2')}}" class="button icon solid fa-info-circle">Find out
								more</a>
						</footer>
					</section>

					<section>
						<h3>Dataset</h3>
						<p>The dataset that was collected between 2002 and 2022 from EPPO, BOT, EGAT, MEA, PEA, and TMD
							is intended for use in a research study and is not to be used for commercial purposes.
							Access to the dataset is available for free downloading.</p>
						<footer>
							<a href="https://github.com/TonsonP/Joules_of_Siam/tree/main/dataS"
								class="button icon solid fa-info-circle">Download Dataset</a>
						</footer>
					</section>

				</div>
			</div>
		</div>
	</div>
</div>

{% include "footer.html" %}